body{
    background-color: rgb(59, 59, 98);
}

.header{
    text-align: center;
    color: #e4e4e4;
    padding: 10px;
    margin-bottom: 30px;
}

.header__title{
    font-size: 3em;
    margin-bottom: 0.2em;
}

.gitHub-link{
    font-size: 1.5em;
}

.inputs{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    align-items: center;
}

.contact{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-table{
    width: 255px;
}

.contact-table__item{
    min-height: 42px;
    width: 100%;
    background-color: #e4e4e4;
    font-size: 20px;
    border-bottom: 1px solid #606060;
    font-weight: bold;
}


.contact-table__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.input{
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    font-size: 16px;
    background-color: #e4e4e4;
    transition: all .5s;
}

.input:hover{
    border: 2px solid #ffcd83;
}

.input:active,
.input:focus{
    background-color: #fff;
    outline: 2px solid #fbac34;
    border-color: transparent;
    transition: all .2s;
}

.btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #e4e4e4;
    transition: all .5s;
}

.btn:hover{
    background-color: #ffcd83;
}

.contacts-item{
    font-size: 16px;
    background: #ababab;
    width: 100%;
    padding: 5px 10px;
    border-top: 1px solid #d8d8d8;
    /* margin-top: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-item-delete{
    height: 25px;
    width: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    background-color: #e4e4e4;
    transition: all .5s;
    font-size: 14px;
}

.contacts-item-delete:hover{
    background-color: #e12e2e;
    color: #fff;
}

.contact-table__contacts{
    display: none;
}

.contact-table__contacts--active .contact-table__contacts{
    display: block;
}

